.dot-weekend,
.dot-present {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot-weekend {
  background-color: #ffd400;
}

.dot-present {
  background-color: rgb(102, 255, 102);
}

.detail-specify-entry-content {
  width: 800px;
  padding: 15px;
}

/* .specify-entry-time-and-place {
  display: flex;
}

.specify-entry-time-and-place > div {
  margin-right: 50px;
} */

.location-detail{
  margin-top: 12px;
}

.location-icon {
  position: relative;
}

.location-icon > svg{
  position: absolute;
  bottom: 0;
  color: rgb(177, 177, 177);
}

.location-name{
  margin-left: 25px;
  color: rgb(177, 177, 177);
}

